<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp" />
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webHttp" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="ogbit.web.WcfRestCrossDomainSupport.CarService">
        <endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="ogbit.web.WcfRestCrossDomainSupport.ICarService" />        
        <endpoint address="api" behaviorConfiguration="json" binding="webHttpBinding" name="webHttp" contract="ogbit.web.WcfRestCrossDomainSupport.ICarService" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>                 
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>   
    <directoryBrowse enabled="false"/>
      
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="X-Requested-With, Content-Type, Authorization" />
        <add name="Access-Control-Allow-Methods" value="PUT, GET, POST, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    
  
  </system.webServer>

</configuration>
